<section class="page-section{{#if slider-class}} {{slider-class}}{{/if}}">
  {{#if section-title}}
    <div class="page-section__header">
      <h2 class="page-section__title">{{section-title}}</h2>
      {{#if action}}
        <div class="page-section__header-action">
          <a href="{{#if link}}{{link}}{{else}}#{{/if}}"
             class="page-section__header-link">{{>icons/arrow-right small=1}} Все {{action}}</a>
        </div>
      {{/if}}
      {{#if slider-class}}
        <div class="page-section__header-action">
          {{>components/slider-nav nav-mode="arrows slider-nav--dark" class=slider-class icon-nav=1}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  <div class="page-section__content">
    {{>@partial-block}}
  </div>
</section>
