<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <title>{{ page-title }}</title>
  <meta name="description" content="{{ page-description }}">

  <meta name="msapplication-config" content="../assets/images/favicon/browserconfig.xml">

  <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/images/favicon/site.webmanifest" crossorigin="use-credentials">
  <link rel="mask-icon" href="../assets/images/favicon/safari-pinned-tab.svg" color="#DD6900">

  <link rel="canonical" href="{{ page-url }}">
  <link rel="stylesheet" href="../css/main.css?v={{cache}}">

  {{#if ui-kit}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
  {{/if}}

</head>

<body class="page {{page-mod}} {{page-class}}">
<div class="{{#if ui-kit}}uikit-preloader js-uikit-preloader{{else}}preloader js-preloader{{/if}}">
  {{#if ui-kit}}
    <div class="uikit-preloader-animation">
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
    </div>
  {{/if}}
</div>
<div class="page__inner">
